body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    /* FUENTES */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* savisar la fuente por que muchos navegadores ponen bordes de cierre a las diferentes fuentes*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.clearfix {
    clear: both;
}

#header {
    height: 120px;
    width: 100%;
    border-top: 5px solid #61adfb;
    border-bottom: 1px solid #ccc;
}

.centrar {
    width: 83%;
    margin: 0px auto;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 10px;

    /* animacion por medio de una variable */
    /* infinite: nunca va a parar */
    /* linear: va a ser constante sin mermar ni aumentar la velocidad */
    animation: girar infinite 30s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu {
    float: right;
    width: 70%;
    font-size: 18px;
}

#menu ul {
    /* da un espacio entre lineas */
    line-height: 85px;

    width: 60%;
    float: right;
}

#menu ul li {
    /* quita la decracion de lo li */
    list-style: none;

    display: inline-block;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a {
    /* quita la linea debajo del ancor <a> */
    text-decoration: none;
    
    color: #444;
    
}

#menu a:hover {
    /* permite cambiar el color al hacer hover en un tiempo estimado  */
    transition: 300ms all;

    color: #61adfb;
}

#slider {
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px  #444;

    /* degradado */
    background: rgba(73,155,234,1);/* Old Browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));/* Chrome, Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* IE 10+ */
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 138px;
    text-align: center;
}

.btn-white {
    display: block;
    background: white;
    color: #444;
    padding: 10px;
    height: 30px;
    width: 150px;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 4px;

    transition: 300ms all;
}

.btn-white:hover {
    background-color: #444;
    color: #61adfb;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content {
    width: 70%;
    float: left;
    min-height: 550px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn {
    margin-top: 10px;

}

.btn {
    display: block;
    background-color: #61adfb;
    color: white;
    padding: 15px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 80%;
    margin: auto;
    border-radius: 3px;
    transition: 300ms all;
    border: none;
}

.btn-success:hover {
    background-color: rgb(45, 163, 27);
}

.mid-form {
    width: 50%;
    margin: auto;
}

.mid-form label{
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}

input[type="text"], textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
    border-radius: 3px;
}

input[type="text"]:focus, textarea {
    /* ELIMINA EL BORDE POR DEFECTO EN LOS INPUT */
    outline: 0px !important;

    /* inset: COLOCA EL DIFUNIMADO POR DENTRO */
    box-shadow: 0px 0px 5px #61adfb inset;
}

textarea {
    width: 100%;
    height: 150%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}

.radious {
    padding: 10px;
}

#footer {
    background-color: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p {
    margin: 0px;
}

.article-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    height: 100%;
    width: 100%;
    /* text-align: center; */
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date {
    display: block;
    width: 100%;
    color: #444;
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.header-articles{
    font-size: 40px;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
}

.article-detail .image-wrap img{
    width: 100%;
    height: 300px;
}

.article-detail.header-articles {
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
}

/* LAS MEDIA QUERY TRABAJAN DESDE EL PIXEL 0 HASTA EL LIMITE QUE ES ESTABLESIDO */
@media (max-width: 1347px ) {
    #menu ul {
        width: auto;
    }
}

@media (max-width: 968px ) {

    #logo {
        float: none;
        width: 241px;
        margin: 0px auto;
        margin-top: 20px;
    }

    #menu, #menu ul {
        clear: both;
        float: none;
        width: 100%;
        line-height: 40px;
        padding-left: 0px;
    }

    #content {
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 60%;
        margin: auto;
    }

    #slider{
        height: 300px;
    }

    #slider h1 {
        padding-top: 60px;
        font-size: 25px;
    }
}

@media (max-width: 566px ) {
    #header {
        min-height: 130px;
        overflow: hidden;
    }

    #menu ul li {
        margin-left: 7px;
        margin-right: 7px;
    }
}

@media (max-width: 768px ) {
    .mid-form {
        width: 80%;
    }
}

@media (max-width: 411px ) {
    .mid-form {
        width: 90%;
    }
    .header-articles {
        font-size: 25px;
    }
    #sidebar {
        width: 90%;
    }
}

